@import "tailwindcss";


.scrollbarCustom {
  /* Firefox */
  scrollbar-color: var(--color-white) #ffffff00;
}

.scrollbarCustom::-webkit-scrollbar {
  width: 8px;
}

.scrollbarCustom::-webkit-scrollbar-track {
  background: var(--color-slate-900);
  border-radius: 10px;
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.toast-enter {
  animation: toast-in 0.35s ease-out forwards;
}

.toast-exit {
  animation: toast-out 0.3s ease-in forwards;
}